body {
  margin: 0 auto;
  height: 100%;
  padding: 10px;
  background-color: #fde8cd;
  width: 600px;
}
form {
  display: block;
}
h1 {
  color: rgb(184, 181, 255);
  font-size: 50px;
  font-family: "Comfortaa", cursive;
}
h2 {
  color: #b8b5ff;
}
.col-6 {
  color: #fde8cd;
  font-size: 20px;
}
.col-sm {
  color: bisque;
  font-size: 20px;
}
.weather-app {
  max-width: 600px;
  margin: 30px auto 2px;
  padding: 20px;
  color: #ffffff;
  border-radius: 10px;
  background-image: linear-gradient(to top, #30cfd0 0%, #8851cc 100%);
  filter: drop-shadow(0 0 0.1rem rgba(36, 36, 37, 0.4));
}
